body {
	margin: 0;
	padding: 0;
	background: #e74c3c;
}

.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 440px;
	display: flex;
	align-items: center;
}

.obj{
	width: 20px;
	height: 440px;
	background: #f1c40f;
	margin: 0 10px;
	border-radius: 10px;
	animation: loading 0.8s infinite;
	color: #e67e22;
}

.obj:nth-child(2){
	animation-delay: 0.1s;
}

.obj:nth-child(3){
	animation-delay: 0.2s;
}

.obj:nth-child(4){
	animation-delay: 0.3s;
}

.obj:nth-child(5){
	animation-delay: 0.4s;
}

.obj:nth-child(6){
	animation-delay: 0.5s;
}

.obj:nth-child(7){
	animation-delay: 0.6s;
}

.obj:nth-child(8){
	animation-delay: 0.7s;
}

.obj:nth-child(9){
	animation-delay: 0.8s;
}

.obj:nth-child(11){
	animation-delay: 0.9s;
}

.obj:nth-child(12){
	animation-delay: 0.9s;
}

.obj:nth-child(13){
	animation-delay: 1.0s;
}

.obj:nth-child(14){
	animation-delay: 1.1s;
}

.obj:nth-child(15){
	animation-delay: 1.2s;
}

.obj:nth-child(16){
	animation-delay: 1.3s;
}

.obj:nth-child(17){
	animation-delay: 1.4s;
}

.obj:nth-child(18){
	animation-delay: 1.5s;
}

.obj:nth-child(19){
	animation-delay: 1.6s;
}

.obj:nth-child(20){
	animation-delay: 1.7s;
}

.obj:nth-child(21){
	animation-delay: 1.8s;
}

@keyframes loading {
	0%{
		height: 0;
	}
	50%{
		height: 40%;
	}
	70%{
		height: 80%;
	}
	100%{
		height: 0;
	}

}